<h1><%= t('.header', title: @test_passage.test.title) %></h1>
<%= t('.correct_answers') %>:
<%= @test_passage.correct_questions %> <%= t('.out_of') %> <%= @count_questions%><br>
<br>
<h2><%= t('.your_result') %></h2>

  <% if @percentage >= 85 %>
      <h3 style="color:#66FFA9;"><%= @percentage %></h3>
      <h3><%= t('.success') %></h3>
  <% else %>
      <h3 style="color:#FF3299;"><%= @percentage %></h3>
      <p><%= t('.fail') %><br>
        <%= t('.try_again') %></p>
  <% end %>
