
<div class="row justify-content-center mt-3">
  <div class="col col-md-10">

    <div class="card border-default">
      <div class="card-body">

        <h2 style="text-align: center">
          Under sun and sky, outlander, we greet you warmly
        </h2>

        <%= form_for @contact_form do |f| %>
          <%= f.label :name %><br>
          <%= f.text_field :name, required: true %>

          <br>

          <%= f.label :email %><br>
          <%= f.email_field :email, required: true %>

          <br>

          <%= f.label :message %><br>
          <%= f.text_area :message, as: :text %>

          <br>

          <%= f.submit 'Send Message', class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
