<tr>
  <td scope="row">
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', method: :patch, test: test == @test ? @test : test %>
  </td>
  <td scope="row"><%= test.level %></td>
  <td scope="row"><%= test.author.first_name %></td>
  <td scope="row"><%= link_to t('.show'), admin_test_path(test) %></td>
  <td scope="row">
    <%= link_to t('.edit'),
                          edit_admin_test_path(test),
                          data: { test_id: test.id },
                          class: 'form-inline-link' %>
  </td>
  <td scope="row"><%= link_to t('.delete'),
                  admin_test_path(test),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
