<p>
  <h1><%= @test.title %></h1>
</p>

<p>
  <strong><%= t('.level') %>:</strong>
  <%= @test.level %><br>
  <%= t('.count_questions') %>: <%= @test.questions.count %>
</p><br>

<%= link_to t('.new_question'), new_admin_test_question_path(@test), class: 'btn' %><br>

<ol>
  <%= render @test.questions %>
</ol>

<%= link_to t('.edit'), edit_admin_test_path(@test) %> |
<%= link_to t('.back'), admin_tests_path %>