<div class="row justify-content-center mt-3">
  <div class="col col-md-7">

    <div class="card border-default">
      <div class="card-body">
        <h2 style="text-align: center"><%= t('tests.index.header') %></h2>

        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col", class="sort-by-title pointer">
                <%= t('.title') %>
                <%= octicon 'arrow-up', class: 'text-success hide' %>
                <%= octicon 'arrow-down', class: 'text-success hide' %>
              </th>
              <th scope="col"><%= t('.level') %></th>
              <th scope="col"><%= t('.author') %></th>
              <th></th>
            </tr>
          </thead>

          <%= render @tests %>
        </table>
      </div>
    </div>
  </div>
</div>