<p>
  <h1><%= @test.title %></h1>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %><br>
  <%= @test.questions.count %> questions
</p>

<%= link_to 'New question', new_test_question_path(@test), class: 'btn' %><br>

<ol>
  <%= render @test.questions %>
</ol>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>